/* Estilos para el navbar */
.navbar {
    background-color: #48da3a;
  }
  
  .navbar .navbar-brand {
    font-size: 1.5rem;
  }
  
  .navbar .nav-link {
    color: #fff;
    font-size: 1rem;
  }
  
  /* Estilos para la sección "About Us" */
  footer .col-md-4 h5 {
    color: #fff;
    font-size: 1.2rem;
  }
  
  footer .col-md-4 p {
    color: #ccc;
    font-size: 0.9rem;
  }
  
  /* Estilos para el carousel */
  #slide .carousel-item {
    height: 400px; /* Ajusta la altura según tus necesidades */
  }
  
  #slide .carousel-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  